$LightGreen: #7ed56f;
$MediumGreen: #55c57a;
$DarkGreen: #28b485;
$grid-width: 114rem;
$space-vertical: 8rem;
$space-horizontal: 6rem;
$color-grey-light-1: #f7f7f7;

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-black: #000;
$color-white: #fff;

/* 
COLORS:

LightGreen: #7ed56f
MediumGreen: #55c57a
DarkGreen: #28b485

*/

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;

$color-black: #000;

$color-secondary-light-1: #ffb900;
$color-secondary-light-2: #ff7730;

$color-tertiary-light-1: #2998ff;
$color-tertiary-light-2: #5643fa;
// Grid width

$grid-width: 114rem;
$space-vertical: 8rem;
$space-horizontal: 6rem;

$default-font-size: 1.6rem;
