.feature-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -7rem;
  padding: 2rem;
  background-color: rgba($color: #d8eae1, $alpha: 0.5);
  text-align: center;
  i {
    font-size: 4rem;
    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-primary-light
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  h3 {
    text-transform: uppercase;
    padding: 1rem;
  }
  p {
    font-size: 1.4rem;
  }
}
.feature-box:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
