.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba ($color-black, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;

  &__content {
    background-color: $color-white;
    width: 80%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translate(-100%, -100%);
    transition: all 1s cubic-bezier(0.71, -0.94, 0.45, 1.9);
  }
  &:target {
    opacity: 1;
    visibility: visible;
    transition: all 1s;
  }
  &:target &__content {
    opacity: 1;
    visibility: visible;
    transition: all 1s;
    transform: translate(0, 0);
  }
  &--back {
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 2rem;
    transform: scaleX(-20deg);
    padding: 1rem;
    border-radius: 50%;
    display: block;
    font-weight: 900;
    margin-left: 55rem;
    transition: all 0.5s;
  }
  &--back:hover {
    cursor: pointer;
    color: red;
  }
  &--back:active {
    transform: scale(1.2);
  }
  &--back:checked .popup:target {
    opacity: 0;
    visibility: hidden;
  }
  // cubic-bezier(0.35, 1.38, 0.69, -0.5)
  &__img {
    width: 40rem;
    display: block;
  }
  &__text {
    display: flex;
    width: 80%;
    margin: 1rem;
    font-size: 1.6rem;
    &--one:first-child {
      border-right: 2px solid grey;
      padding: 1rem;
      margin-right: 1rem;
    }
  }
}
