@keyframes titleTop {
  0% {
    transform: translate(-200%);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes titleBottom {
  0% {
    transform: translate(200%);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes btn {
  0% {
    transform: translate(0, 500%);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes btn_1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
